// Custom styles added by Jake

// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$color-accent: #FF5C00;

body {
	background: #222 image-url('fabric_bg.jpg') fixed;
}

#header, #footer, .title {
	text-transform: lowercase;
}

#header, #content, #footer {
	padding-left: 10px;
	padding-right: 10px;
}

#header {
	border: 0;
	a {
		color: $color-gray02;
	}
	h1 a {
		color: $color-accent;
		@include transition(color 0.3s);
		&:hover{
			color: $color-gray02;
		}
	}
}

#content {
	background: rgba(255,255,255,.85);
	box-shadow: 0 0 15px #000;
}

#footer {
	border: 0;
}

h1 {
	color: $color-main;
}

article {
	border: 0;
}

.share {
	border-bottom: 0;
}

::selection {
   background: $color-accent; /* Safari */
   color: #fff;
}
::-moz-selection {
   background: $color-accent; /* Firefox */
   color: #fff;
}